# General
.DS_Store

# PostgreSQL data
infra/pg_db/pgdata/

# ignore all node_modules
**/node_modules/

# VS Code C++ configurations
.vscode/c_cpp_properties.json

# .env file
.env

# .env file for esp32
./esp_client/data/config.env

# platformio build cache
./esp_client/.pio/
